section {
    &.block {
        &.share {
            padding: 20px 0;
            @include media-breakpoint-up(lg) {
                padding: 50px 0 20px;
            }
            .wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    margin: 0;
                    .link {
                        text-decoration: none;
                        &::before {
                            content: "◄";
                            padding-right: 10px;
                        }
                    }
                }
                .share-btn {
                    background-color: $light;
                    display: flex;
                    align-items: center;
                    span {
                        padding-right: 10px;
                    }
                }
                .modal .modal-dialog .modal-content {
                    border-radius: 5px;
                    background-color: $vp-light-grey;
                    .modal-header .btn-close {
                        padding: 0;
                        background-color: transparent;
                    }
                    .modal-body {
                        .title-wrap {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 25px;
                            p:first-child {
                                border-right: 1px solid $dark;
                                padding-right: 7px;
                                margin-right: 7px;
                            }
                        }
                        .social-icons {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            list-style: none;
                            margin-bottom: 25px;
                            padding: 0;
                            li {
                                padding: 15px;
                                background-color: white;
                                border-radius: 50%;
                                margin: 0 7px;
                            }
                        }
                        form {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            input {
                                padding: 10px 30px;
                                border: 0;
                                border-radius: 5px 0 0 5px;
                                width: 70%;
                            }
                            button {
                                width: 30%;
                                padding: 10px;
                                background-color: $secondary;
                                border-radius: 0 5px 5px 0;
                                color: $light;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}
